<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.RateEat">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Restaurant.CreateRest"
            android:theme="@style/AppTheme.Popup" />

        <!-- Login & Sign up -->
        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Login.SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.Dark" />
        <activity android:name=".Taste.TastePage" />
        <activity
            android:name=".ImagePicker"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Dialog"/>

        <activity android:name=".EditTaste" />
    </application>

</manifest>